[defaults]
connection = local
localhost_warning = false
remote_user = konradkon
pipelining = True
forks = 20
#strategy_plugins = /home/konradkon/Projects/codeberg/linux/my-ansible/mitogen-0.3.22/ansible_mitogen/plugins/strategy
#strategy = mitogen_linear

[inventory]
inventory_unparsed_warning = false
